body {
    background-color: #1F2023;
}

.titulo {
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-bottom: 10px;
}

.itens {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.itensLink:link {
    color: white;
}

.itensLink:visited {
    color: white;
}

.itensLink:hover {
    color: #DAE200;
}

.paragrafo {
    font-family: 'Roboto', sans-serif;
    color: orange;
}

#listaUm {
    width: 100px;
    height: 80px;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    color: #2CAAF6;
    background-color: rgb(50, 74, 168);
    list-style-type: circle;
}

#listaDois {
    width: 100px;
    height: 80px;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    color: #2CAAF6;
    background-color: rgb(50, 74, 168);
    list-style-type: square;
}

.containerUm {
    border: solid 1px white;
    display: inline-block;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 100px;
    height: 110px;
    overflow: hidden;
    margin: 8px;
}

.containerDois {
    border: solid 1px white;
    display: inline-block;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 150px;
    height: 110px;
    overflow: hidden;
    margin: 8px;
    padding-top: 30px;
    padding-left: 5px;

}

.containerTres {
    border: dashed 1px white;
    display: inline-block;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 100px;
    height: 110px;
    overflow: scroll;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 9px;
    padding-right: 9px;
}

.containerQuatro {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.bloco {
    display: inline;
}

.linha {
    display: block;
}

.nomeCoder {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.paragrafoLink {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.caixaContato {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.nome {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: #DAE200;
    border-width: 3px;
    border-style: solid;
}

.nome:focus {
    background-color: #DEDEDE;
}

.email {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: #DAE200;
    border-width: 3px;
    border-style: solid;
}

.email:focus {
    background-color: #DEDEDE;
}

.nomeCoder:hover {
    color: orange;
}

.nomeCoder {
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
}

.texto {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: #DAE200;
    border-width: 3px;
    border-style: solid;
}

.botao {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.link:visited {
    color: blueviolet;
}

.link:active {
    color: crimson;
}

.listasUm {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.listasDois {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.listasTres {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.listasQuatro {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.listasDois:first-child {
    color: red;
}

.listasDois:last-child {
    color: red;
}

.listasDois:nth-child(2) {
    color: blue;
}

div ol li:first-of-type {
    color: violet;
}

div ol li:last-of-type {
    color: violet;
}

div ol li:nth-of-type(3) {
    color: orange;
}

.item {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.item:not(span) {
    color: yellow;
}

option:disabled {
    color: red;
}

.validoInvalido[type=email]:invalid {
    color: red;
}

.validoInvalido[type=email]:valid {
    color: blue;
}

.validoInvalido:required {
    background-color: aqua;
}

.checked:checked {
    outline: 2px solid red;
}

.paragrafoText {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.paragrafoTextUm {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.paragrafoTextDois {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.paragrafoTextTres {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.paragrafoTextUm::before {
    content: "Antes";
    color: orange;
}

.paragrafoTextUm::after {
    content: "Depois";
    color: orange;
}

.paragrafoTextDois::first-letter {
    text-transform: uppercase;
}

.teste::first-line {
    color: orange;
}

.gradienteUm {
    width: 800px;
    height: 100px;
    margin-bottom: 5px;
    background-image: linear-gradient(to bottom, red, yellow);
}

.gradienteDois {
    width: 800px;
    height: 100px;
    margin-bottom: 5px;
    background-image: linear-gradient(to right, red, yellow);
}

.gradienteTres {
    width: 800px;
    height: 100px;
    margin-bottom: 5px;
    background-image: linear-gradient(to left, red, yellow);
}

.gradienteQuatro {
    width: 800px;
    height: 100px;
    margin-bottom: 5px;
    background-image: linear-gradient(to top, red, yellow);
}

.gradienteCinco {
    width: 800px;
    height: 100px;
    margin-bottom: 5px;
    background-image: linear-gradient(45deg, red, yellow);
}

.gradienteSeis {
    width: 800px;
    height: 100px;
    margin-bottom: 5px;
    background-image: radial-gradient(red, yellow);
}

.translate {
    width: 100px;
    height: 100px;
    margin-bottom: 60px;
    margin-left: 20px;
    background-color: red;
    border: 1px solid black;
    transform: translate(10px, 20px);
}


.rotate {
    width: 100px;
    height: 100px;
    margin-bottom: 60px;
    margin-left: 20px;
    background-color: red;
    border: 1px solid black;
    transform: rotate(30deg);
}

.rotateX {
    width: 100px;
    height: 100px;
    margin-bottom: 60px;
    margin-left: 20px;
    background-color: red;
    border: 1px solid black;
    transform: rotateX(60deg);
}

.rotateY {
    width: 100px;
    height: 100px;
    margin-bottom: 60px;
    margin-left: 20px;
    background-color: red;
    border: 1px solid black;
    transform: rotateY(60deg);
}

.rotateZ {
    width: 100px;
    height: 100px;
    margin-bottom: 60px;
    margin-left: 20px;
    background-color: red;
    border: 1px solid black;
    transform: rotateZ(60deg);
}

.elementoUm {
    width: 100px;
    height: 100px;
    margin-bottom: 60px;
    margin-left: 55px;
    background-color: red;
    border: 1px solid black;
    transform: scale(2,1);
}

.elementoDois {
    width: 100px;
    height: 100px;
    margin-bottom: 60px;
    margin-left: 20px;
    background-color: red;
    border: 1px solid black;
    transform: all 2s;
}

.elementoDois:hover {
    width: 200px;
    height: 200px;
    padding: 20px;
}

.elementoTres {
    width: 100px;
    height: 100px;
    margin-bottom: 60px;
    margin-left: 20px;
    background-color: red;
    border: 1px solid black;
    transform: all 2s;
    transition: all 2s;
}

.elementoTres:hover {
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: cyan;
}

.elementoQuatro {
    width: 100px;
    height: 100px;
    margin-bottom: 60px;
    margin-left: 20px;
    background-color: red;
    border: 1px solid black;
    transition: height 2s;
}

.elementoQuatro:hover {
    height: 200px;
}

.elementoCinco {
    width: 100px;
    height: 100px;
    margin-bottom: 60px;
    margin-left: 20px;
    background-color: red;
    border: 1px solid black;
    transition: height 2s;
}

.elementoCinco:hover {
    height: 200px;
    background-color: cyan;
}
